logfile={{ ocs_logfile }}
debug=1
basevardir={{ ocs_basedir }}
{% if ocs_ssl %}
ca={{ ocs_ca if ocs_ssl else ""}}
{% endif %}
ssl={{ 1 if ocs_no_ssl_verify else 0}}
nosoftware={{ ocs_nosoftware|default(0) }}
server={{ ocs_server }}
tag={{ ocs_tag }}